/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 1, 2015, 9:14:13 PM
    Author     : James
*/

body {
    background-color: green;
}

/*Navbar CSS */
.navbar-brand {
    margin-top: -15px;
}


/*Steamroller Animation*/
.steamroller {
    float: right;
    
}

/*Changes the text color to gold on the pages index, about, & contact*/

.text-sand {
    color: gold;
}

.banner {
    background-color: gold;
}

#ctr-img {
    width: 100%;
}

.banner img {
    width: 100%
}