/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 1, 2015, 9:14:13 PM
    Author     : James
*/

body {
    background-color: green;
}

/*Navbox CSS */
.navbox {
    margin-right: auto;
    border: 4px solid gold;
    border-radius: 25px;
}

.navbox h2 {
    color: gold;
    text-align: center;
    font-weight: bold;
}
.navbox a {
    color: gold;
}

.navbox a:visted {
    color: goldenrod;
}

.navbox a:hover {
    font-weight: bolder;
}

.contact {
    font-size: 12px;
}

/*Steamroller Animation*/
.steamroller {
    float: right;
    
}

/*Changes the text color to gold on the pages index, about, & contact*/

.text-sand {
    color: gold;
}
