/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 1, 2015, 9:14:13 PM
    Author     : James
*/

body {
    background-color: green;
}

.navbox {
    margin-right: auto;
    border: 2px solid gold
}
.navbox a {
    color: gold;
}

.navbox a:visted {
    color: goldenrod;
}